{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">

<div class="login">
    <div class="form">
        <form class="registration-form">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email" />
            <button>Create</button>
            <p><a href="#">Log In</a></p>
        </form>
        <form class="login-form" method="post">
            {% csrf_token %}
            <input type="text" class="form-control" name="username" id="inputEmail" placeholder="Username" required/>
            <input type="password" class="form-control" name="password" id="inputPass" placeholder="Password" required/>
            <button type="submit">Login</button>
            <p><a href="#">Register</a></p>
        </form>
    </div>
</div>